* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    justify-content: space-between;
    align-items: center;
    background: rgb(18, 7, 7);
    background: linear-gradient(188deg, rgba(18, 7, 7, 1) 0%, rgba(234, 249, 35, 1) 90%);
    height: 10vh;
    
}

header h1 {
    color: yellow;
    margin-left: -80px;
}

.paitexto p {
    font-family: sans-serif;
    font-size: 10px
}

.texto1 p {
    font-family: sans-serif;
    font-size: 10px;
}

.texto2 {
    font-family: sans-serif;
}

header option {
    font-size: 50px;
    color: #fefae0;
    background-color: black;
    cursor: pointer;
}

.logomarca img {
    width: 5rem;
    border-radius: 5px;
    margin-top: 5px;

}

label {
    width: 3rem;
}

header label {
    height: 10px;
    width: 50rem;
}

.label img {
    cursor: pointer;
}

.lista ul {
    display: flex;
    margin-left: 50px;
}

.lista ul li {
    justify-content: space-between;
    margin-right: 15px;
}

.lista ul li a {
    color: yellow;
    font: 20px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blac;
    width: 80vh;
    height: 10vh;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 15px;
}

header img {
    cursor: pointer;
}

.menu h1 {
    margin-right: 3rem;
}

.pesquisa {
    margin-left: 50px;
}

.pesquisa img {
    width: 1rem;


}


.corpo1 img {
    width: 105vh;
}

.corpo1 {
    height: 55vh;
    display: flex;
    background-color: #001d3d;

}

.corpo1 p {
    font-size: 1rem;
}


.paitexto p {
    align-items: justify;
    text-align: center;
    color: white;
    font-size: 29px;
    margin-top: 50px;
    font-family: sans-serif;
}

.corpo2 {
    text-align: center;
    height: 5vh;
    justify-content: center;
    align-items: center;

}

#myVideo {
    position: static;
    /*fixed*/
    /*terá explicação*/
    width: 50vw;
    margin-left: 30rem;

    margin-top: 5rem;

}

.texto3 {
    text-align: center;

}

.texto3 h1 {
    font-size: 30px;
}

.texto3 p {
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 10px;
}

.corpo3 {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    margin-top: 5rem;
}

.corpo3 img {
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 5px 5px 5px black;
}

footer {
    background-color: #001d3d;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rede {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 35px;
}

.rede i {
    font-size: 5rem;
}

.lista2 {
    margin-top: -2rem;
    text-align: center;
}

.lista2 ul {
    list-style: none;
    display: flex;
    text-align: center;
}

.lista2 ul li {
    margin-left: 20px;
    text-align: center;
}

.rede a i {
    font-size: 3rem;
    margin-right: 35px;

}




.efeito-imagem img {
    transition: opacity 0.5s;
}

.efeito-imagem:hover img {
    opacity: 0;
}

.efeito-imagem .text {
    position: absolute;
    /*Posição da imagem e do texto no mesmo lugar*/

    opacity: 0;
    /*Opacidade da imagem e do texto*/
    transition: opacity 0.5s;
    /*transição da imagem para o texto*/
}

.efeito-imagem:hover .text {
    opacity: 1;
}

.text {
    align-items: justify;
    text-align: center;
    width: 30rem;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;


}

.lista2 a {
    color: white;
}

.efeito-imagem {
    justify-content: center;
    align-items: center;

    display: flex;
}

.rede i:hover {
    margin-bottom: 15px;
    transition: 0.8s;

}

footer ul li a:hover {
    color: #fdd85d;
    transition: 0.8s;
    margin-bottom: 15px;
}

.lista ul li a:hover {
    color: white;
    transition: 0.8s;

}

@media only screen and (max-width: 800px) {
    header img{
height: 1.5rem;

    }



  }